!

<style>
html {
  box-sizing: border-box;
}
h1{background-color:blue;
}
p{
  color:green;
}
i {
  font-size: 300%;
}
.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
}
#nav li {
  display: inline;
  list-style-type: none;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
}
.PinkBG{background-color:pink;
}
#header {
  margin-top: 5.0em;
}
```css
.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
```
.Hello{width:400px;height:50px;
}
.LoveDogs{font-size:300%;text-align:center;font-family:'Times Roman';
}
.highlight{font-size:300%;text-align:center;font-family:'Times Roman'}
</style>
